version: '3.8'
services:
  app:
    build: .
    container_name: product-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/MyStore
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: KH$$Sure@168
    depends_on:
      - db
  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: MyStore
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: KH$$Sure@168
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: